.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quien-soy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #D9D3D8;
}

.acerca-de-mi {
    display: flex;
    padding: 30px;
    background-color: #BBDEFB;
}

.fotos-hobbies {
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

.lista-estudios {
    display: flex;
    justify-content: space-around;
    text-align: center;
}