html {
	scroll-behavior: smooth;
}

body {
	background-color: #D9D3D8;
}

header {
	background-color: steelblue;
	padding: 1.4em 1.2em;
	position: fixed;
	top: 0;
	width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container a {
	text-decoration: none;
}

.container h1 {
	padding-left: 1.4em;
	font-size: 1.4em;
	font-weight: bold;
	font-family: Calibri;
	color: #D9D3D8;
	vertical-align: middle;
	
}

.container h1 img {
	height: 55px;
	width: 80px;
	padding-right: 5px;
	mix-blend-mode: multiply;
	vertical-align: middle;
}

.headerPrincipal-nav-link {
	font-size: 1.1em;
	font-weight: bold;
	color: #D9D3D8;
	text-decoration: none;
    padding: 0 0.8em;
	border-right: 1.5px solid #625F62;
}

.headerPrincipal-nav-link-final{
	font-size: 1.1em;
	font-weight: bold;
	color: #D9D3D8;
	text-decoration: none;
    padding: 0 0.8em;
}

.headerPrincipal-nav a:hover {
	color: #292424;
}

.quien-soy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 105px 30px 30px 30px;
    background-color: #D9D3D8;
}

.datos-redes {
	width: 35%;
}

.presentacion {
	font-size: 30px;
	font-family: sans-serif;
	color: darkslategray;
	margin-bottom: 20px;
}

.icon .fa-sm {
	font-size: 1.575em;
    line-height: 1em;
    vertical-align: .05357em;
}	


.fa-github, .fa-linkedin, .fa-twitter, .fa-file {
	background: grey;
	color: white;
}

.fa {
	font-size: 200px;
	text-decoration: none;
	padding: 5px;
	margin: 5px 10px;
}

.fa-github:hover {
	background: #161b22;
}

.fa-linkedin:hover {
	background: #007bb5;
}

.fa-twitter:hover {
	background: #1DA1F2;
}

.fa-file:hover {
	background: rgb(179, 22, 22);
}

.foto_personal {
	height: 20em;
    border-radius: 50%;
}

.acerca-de-mi {
    display: flex;
	flex-direction: row-reverse;
    padding: 105px 30px 30px 30px;
    background-color: #BBDEFB;
}

.foto-cpu {
	height: 20em;
	border-radius: 30px;
}

.subtitulos {
	font-size: 1.8em;
    font-weight: bold;
    font-family: tahoma;
    color: dimgrey;
    padding-left: 1.1em;	
    margin-bottom: 1.2em;
}

.mis-datos {
	margin: 1.5em 1.2em;
    font-size: 1.1em ;
    width: 90%;
	text-align: left;
	color: #111651;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

.habilidades {
	padding-top: 105px;
}

.lenguajes {
    width: 90%;
	text-align: center;
    margin: 0 auto;
}

.lenguajes li{
    display: inline-block;
    text-align: center;
    width: 14%;
	height: auto;
    vertical-align: top;
	margin: 0 3.5%;
	margin-bottom: 1.2em;
    padding: 1.4em 1.2em;
	background-color: #F4F5F7;
	border-width: 4px;
  	border-style: solid;
  	border-image: linear-gradient(to bottom, #BBDEFB, #F4F5F7) 1;
}

.lenguajes li h2 {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0.8em;
	color: #111651;
}

.lenguajes li img {
	border: 1px solid #BBDEFB;
	width: 5em;
}

.hobbies {
	padding-top: 105px;
	background: #BBDEFB;
}

.fotos-hobbies {
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

.foto {
	width: 20%;
	height: 20%;
	border-radius: 20px;
}

.formacion {
	padding: 105px 0 30px 0;
}

.lista-estudios {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.escuela {
	width: 65%;
	padding-bottom: 16px;
	border-radius: 15px;
}

.escuela-titulo {
	font-size: 14px;
	color: #111651;
	font-family: Verdana;
}

.descripcion {
	color: #111651;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

.proyectos {
    padding: 105px 30px 30px 30px;
    background-color: #BBDEFB;
}

.gif-container {
	display: flex;
	justify-content: space-around;
	vertical-align: middle;
	text-align: center;
}

.container-proyectos {
	width: 40%;	
}

.gif-image {
	width: 90%;
}

.titulo {
	font-size: 18px;
	color: #111651;
	font-family: Verdana;
	text-align: center;
}

.buttons{
	display: flex;
	justify-content: space-evenly;
}

.botones {
	font-size: 18px;
	color: #F3F3F3;
	background-color: #191d2b;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	padding: 0.2em 0.8em;
	transition: 1s all;
    cursor: pointer;

}

.botones:hover {
	color: #191d2b;
	background-color: #F3F3F3;
}

.contacto {
	padding: 105px 0 30px 0;
}

form{
    margin: 40px 0;
	padding: 0 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label, form legend {
    display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron {
    display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 30%;
	border: transparent;
}

.input-padron:focus{
	outline: none;
	border-bottom: solid 2px steelblue;
}


.enviar {
    width: 20%;
    padding: 1.15em 0;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background: steelblue;
    border: none;
    border-radius: 0.5em;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #111651;
}

footer {
    text-align: center;
    background-color: steelblue;
    padding: 20px;
}

.copyright {
    color: #ffffff;
    font-size: 12px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
    margin: 20px;

}

footer img {
	width: 17%;
	mix-blend-mode: multiply;
}

@media screen and (max-width: 960px) {
	header {
		position: relative;
		width: auto;
	}

	.headerPrincipal-nav {
		display: none;
	}

	.quien-soy {
		display: flex;
		justify-content: center;
    	padding: 10px;
    	background-color: #D9D3D8;
	}

	.imagen-personal {
		margin: 0 0 50px 20px;
	}

	.presentacion {
		font-size: 23px;
		font-family: sans-serif;
		color: darkslategray;
		margin-bottom: 20px;
	}
	.redes-sociales {
		display: flex;
	}

	.icon {
		font-size: 20px;
	}

	.foto_personal {
		height: 12em;
		border-radius: 50%;
	}

	.foto-cpu {
		display: none;
	}

	.acerca-de-mi {
        padding: 30px 0;
        background-color: #BBDEFB;
    }

	.lenguajes li {
		width: 21%;
	}

	.lenguajes li h2 {
		font-size: 0.88em;
	}

	.lenguajes li img {
		border: 1px solid #BBDEFB;
		width: 4em;
	}

	.fotos-hobbies {
		display: block;
		text-align: center;
		padding: 0 20px 20px 20px;
	}

	.foto {
		width: 80%;
		margin-bottom: 40px;
		border-radius: 0;
		box-shadow: 0.8em 0.8em 1.8em 0.4em #000000;
	}

	.lista-estudios {
		display: block;
		text-align: center;
	}

	.escuela {
		width: 55%;
	}

	.escuela-titulo {
    font-size: 20px;
	padding-bottom: 20px;
	}
	.proyectos {
		padding: 30px 0;
		background-color: #BBDEFB;
	}
	
	.gif-container {
		display: block;
	}
	
	.container-proyectos {
		width: 100%;	
	}

	.container-proyectos h2, .container-proyectos p {
		text-align: left;
		padding: 0 10px 0 10px;
	}
	
	.gif-image {
		width: 80%;
		margin-bottom: 20px;
	}

	.input-padron, .enviar {
		width: 80%;
	}

	footer img {
		width: 40%;
	}
}